src/UI/Connected Services/GameServer/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1300/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1300/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core.Data" />
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogInResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core.Data" minOccurs="0" name="player" nillable="true" type="q2:CPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core.Data" minOccurs="0" name="GetGamesResult" nillable="true" type="q3:ArrayOfCGameInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxPlayers" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Core.Data" minOccurs="0" name="CreateGameResult" nillable="true" type="q4:CGameInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryConnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryConnectResult" type="xs:boolean" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Core.Data" minOccurs="0" name="gameInfo" nillable="true" type="q6:CGameInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ready">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameId" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerHasConnected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Core.Data" minOccurs="0" name="player" nillable="true" type="q9:CPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerHasDisconnected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Core.Data" minOccurs="0" name="player" nillable="true" type="q10:CPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameHasStarted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaps">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Core.Data" minOccurs="0" name="GetMapsResult" nillable="true" type="q11:ArrayOfCMapInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>